.hero-footer{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 3rem;
}

@media screen and (max-width: 1000px){
  .hero-footer{
    position: relative;
    margin-top: 5rem;
    padding-bottom: 5rem;
  }
}